# Virtual Environment
venv/
.venv/
ENV/
env/

# Python Cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Deep Learning Weights & ML Models
AgroGrow/weights/
weights/
*.pth
*.pkl
*.h5

# Raw & Processed Datasets
AgroGrow/dataset/
dataset/
DataSet/
variety_data/raw/
variety_data/splits/

# Logs and Results
AgroGrow/results/
results/
*.log

# User Reports
AgroGrow/reports/*.pdf
reports/*.pdf

# IDE / OS settings
.vscode/
.idea/
# Environment and secret keys
.env
*.env
